<html>
<div class="rodape">

Este é o jardim digital de Marta Safaneta, ou EiBarracuda, pessoa não-binária e autista, bacharel em Conservação-Restauração e estudando Divulgação Cientifica.
Trabalhando atualmente no Projeto "Tem ciência no museu?", da Rede de Museus UFMG | FAPEMIG.<br>
Saiba <a href="https://www.eibarracuda.art/06-jardinzin/sobre-mim/">mais sobre mim</a>, sobre <a href="https://www.eibarracuda.art/06-jardinzin/curriculo/">meu curriculo</a> ou <a href="https://www.eibarracuda.art/06-jardinzin/sobre-este-site/">navegue por aí</a>. 

<center> 2023 </center>

</div>

</html>
